@import "./mixin.scss";

tr.mat-header-row {
    height: 35px !important;
}

tr.mat-footer-row,
tr.mat-row {
    height: 30px !important;
    cursor: pointer;
}

tr.mat-row:hover {
    background-color: #eee !important;
}

tr.mat-row:nth-child(even) {
    background-color: #fafafa;
}

.mat-icon-button {
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
}

.mat-header-cell {
    font-weight: 600 !important;
    color: $primary-color !important;
    text-transform: uppercase !important;
}

.mat-sort-header-button {
    text-transform: uppercase !important;
}

.paginator {
    background: white;
    width: 100%;
    margin: auto;
}

td.mat-cell {
    min-height: 32px !important;
    font-size: 11px !important;
    @include respond(tab-port) {
       padding: 0 0.6rem !important;
    }
}

th.mat-header-cell{
    @include respond(tab-port) {
        padding: 0 0.6rem !important;
     }
}

tr.mat-row,
tr.mat-footer-row {
    height: 32px !important;
}

tr.mat-header-row {
    height: 36px !important;
    background: #eef !important;
    border-spacing: 0 8px !important;
    padding: 5px !important;
}

.mat-cell,
.mat-footer-cell {
    color: #454444 !important;
}
td.mat-cell:first-of-type {
    display: flex;
    align-items: center;
}

.mat-table-sticky:first-child {
    @include respond(tab-port) {
        border-right: 1px solid #e0e0e0;
    }
}

.mat-table-sticky:last-child {
    @include respond(tab-port) {
        border-left: 1px solid #e0e0e0;
    }
}

.mat-header-cell {
    color: $primary-color !important;
    font-weight: 600 !important;
    font-size: 10px !important;
    text-transform: uppercase !important;
}

.global_search {
    width: 100%;
    display: flex;
    // justify-content: center;
    margin-left: 3rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    @include respond(phone) {
        margin-left: 0.5rem;
    }

    mat-form-field {
        // width: 25%;
        font-size: 13px;
        width: 95%;
    }

    .mat-form-field-wrapper {
        padding-bottom: 0px;
    }
    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0.7em 0 !important;
        display: flex;
    }
    .mat-form-field-appearance-outline .mat-form-field-flex {
        position: static;
        margin-top: -0.35em;
    }
    .mat-form-field-subscript-wrapper {
        margin-top: -15px;
        top: calc(100% + 18px);
    }

    .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
    .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
    .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
        border-width: 0.5px !important;
        top: -0.1em !important;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
        background: #fff !important;
        border-radius: 4px;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-end {
        border-radius: 0 4px 4px 0 !important;
        border-left-style: none;
        flex-grow: 1;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-start {
        border-radius: 4px 0 0 4px !important;
    }
    .mat-form-field-appearance-outline .mat-form-field-prefix,
    .mat-form-field-appearance-outline .mat-form-field-suffix {
        top: 0.29em !important;
    }
}
