.card{
    background-color: #fff;
    padding: 1.5rem 2.5rem;
    border-radius: 1rem;
}
.welcome{
    margin-bottom: .4rem;
}

.header{
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.page-title{
    margin-bottom: 0;
    margin-left: 2rem;


}
.dets {
    color: #777;
    margin-bottom: 0.4rem;
    margin-left: 0.4rem;
}
.label {
    color: #777;
    margin-bottom: 0.4rem;
    margin-left: 0.4rem;
    text-transform: capitalize;
    font-weight: 500;
}