<nav class="appbar">

    <div class="flex-el">
        <p class="logoText">
            AngulaRank
        </p>
    </div>

    <div class="appbar__nav">

        <ul class="appbar__list">

            <li class="item">
                <mat-icon class="mat-icon-15">home</mat-icon>
                <a class="link" routerLink="/" routerLinkActive="active-link">
                    Home
                </a>
            </li>

        </ul>
    </div>
    <div class="toolbar_actions">
        <a target="_blank" href="https://github.com/muhdszakari6">
            <img class="img" src="assets/svgs/github.svg" alt="GitHub Logo">
        </a>
    </div>

</nav>